@font-face {
    font-family: 'BlackOpsOne';
    src: url('fonts/BlackOpsOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#logo {
    font-family: 'BlackOpsOne';
    color: #04db04;
}


#sidebar {
    height: 100vh;
  }