<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
        <meta name="description" content="`borgweb` is a web frontend for the `borgbackup` software.">
        <meta name="author" content="https://github.com/borgbackup/borgweb/blob/master/AUTHORS">
        <meta name="keywords" content="borgweb, web frontend, borgbackup">
        <title>
            BorgWeb - {% block title %}{% endblock title %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark text-light">
                    <div class="d-flex flex-column pt-2 pb-2 min-vh-100">
                        <h1 id="logo" class="ms-1 d-none d-sm-inline">BorgWeb</h1>
                        <span class="ms-1 d-none d-sm-inline">Web UI for BorgBackup</span>
                        <hr>
                        {% if g.user %}
                        <ul id="links" class="nav flex-column fs-5">
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ url_for('dashboard.index') }}">
                                    <i class="bi bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ url_for('repos.index') }}">
                                    <i class="bi bi-database"></i><span class="ms-1 d-none d-sm-inline">Repositories</span>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ url_for('logs.index') }}">
                                    <i class="bi bi-file-text"></i><span class="ms-1 d-none d-sm-inline">Logs</span>

                                </a>
                            </li>
                        </ul>
                        <hr>
                        {% endif %}
                        <ul id="support" class="nav flex-column fs-5">
                            <li class="nav-item">
                                <a class="nav-link link-light" href="#">
                                    <i class="bi bi-book-half"></i><span class="ms-1 d-none d-sm-inline">Documentation</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" href="#">
                                    <i class="bi bi-github"></i><span class="ms-1 d-none d-sm-inline">Github</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <ul id="user" class="nav flex-column mt-auto fs-5">
                            {% if g.user %}
                            <li class="nav-item">
                                <a class="nav-link link-light">
                                    <span class="ms-1 d-none d-sm-inline">
                                        Hello, {{ g.user['username'] }}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ url_for('settings.index') }}">
                                    <i class="bi bi-gear-wide-connected"></i>
                                    <span class="ms-1 d-none d-sm-inline">Settings</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ url_for('auth.logout') }}">
                                    <i class="bi bi-door-open"></i>
                                    <span class="ms-1 d-none d-sm-inline">Sign out</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link link-light" href="{{ url_for('auth.login') }}">Log In</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="vstack min-vh-100">

                    <div class="p-2">
                        <h3>{% block heading %}{% endblock heading %}</h3>
                    </div>
                    {% block content %}{% endblock content %}
                    <div class="p-2 mt-auto">
                        <p class="text-center text-body-secondary mt-auto">borgweb {{ version }}</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

</html>